.card {
    display: inline-block;
    vertical-align: middle;
    width: 25vw;
    aspect-ratio: 1/1;
    margin-left: 5vw;
    background: grey;
    white-space: normal;
    border-radius: 10%;
}

.card:last-child {
    margin-right: 5vw;
}

.card-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.card-content button {
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    top: 0;
    left: 0;
    background: red;
    border-radius: 10%;
    opacity: 0;
    z-index: 1;
}

.card-content img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

/* .popup {
    position: absolute;
    top: 5vh;
    left: 10vw;
    background: grey;
    width: 80vw;
    height: 90vh;
    z-index: 2;
    border-radius: 10px;
} */

.popup-content {
    position: fixed;
    top: 5vh;
    left: 10vw;
    background: grey;  
    z-index: 2;
    border-radius: 10px;
    display: grid;
    width: 74vw;
    height: 90vh;
    padding: 2vw;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 1vw;
    grid-auto-rows: 2fr 1fr 6fr;
}

.item1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.item2 {
    grid-column: 3;
    grid-row: 1;
}

.item3 {
    grid-column: 3;
    grid-row: 2;
}

.item4 {
    grid-row: 3;
    grid-column: 1/4;
}

.close-btn {
    grid-row: 1;
    grid-column: 2;
    background: none;
    border: none;
}

.popup-content>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}